body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

.MyNameColor {
    color: orange;
}

.Flex_Container {
    display: flex;
    margin-bottom: 100px;
}

.SecHalfdiv {
    width: 50%;
    padding-left: 10%;
}

.SecHalfdiv img {
    width: 80%;
    height: auto;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    padding-top: 5%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.linkBtn {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.TopBanner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.BannerBtmPart {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.OrangeColor {
    color: orange;
}

.Experience_Item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px gray;
}

.Experience_area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#Full_stack_Devoloper {
    border-left: 8px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

#baby_Devoloper {
    border-left: 8px solid;
    border-image: linear-gradient(green, cyan);
    border-image-slice: 1;
}

footer p {
    text-align: center;
}